extends ../layout/common.pug

block content
  .container
    h1.text-center.mt-4 Transactions
      BR
      a.btn.btn-success(href='/trans/create') Create
      ul
        each tran in trans
          li.my-4
            span= tran.content
            span &nbsp
            if tran.isComplete
              span.badge.badge-success Completed!
            else
              a.btn.btn-primary.btn-sm(href='/trans/complete/' + trans.id) Done