extends layout/common.pug

block content
    h1.text-center.mt-4  BOOK
      table.table
        thead.thead-dark
          tr
            th.text-center Title
            th.text-center Description
            th.text-center Action
          each book in books
            tr
              td.text-center= book.title
              td.text-center= book.description
              td.text-center
                .btn-group.btn-group-sm
                  a(href="/books/" + book.id + "/update") Update title
                  span &nbsp
                  a(href="/books/" + book.id + "/delete") Delete


      br
    h3.text-center.mt-4 Add book
    form(action="/books", method="POST")
      lable Title:
      br
      input.form-control(type="text", name="title")
      br
      lable Description:
      br
      input.form-control(type="text", name="description")
      br
      button.btn.btn-danger Add