extends ../layout/common.pug

block content
  .container
    h2.text-center.mt-4  Update name
    form(action="/users/update", method="POST")
      lable New name:
      br
      input.form-control(type="hidden", name="id", value=id)
      input.form-control(type="text", name="name")
      br
      button.btn.btn-success Update