extends ../layout/common.pug

block content
  .container
    h1.text-center.mt-4 User
      table.table
        thead.thead-dark
          tr
            th.text-center Name
            th.text-center Action
          each user in users
             tr
              td.text-center= user.name
                td.text-center
                  a.btn.btn-primary(href="/users/" + user.id + "/update") Edit
                  a.btn.btn-primary(href="/users/" + user.id + "/delete") Delete
    br
    
    
    h3.text-center.mt-4 Add user
    if errs
      each err in errs
        .alert.alert-danger= err
        
    form.form-group.mt-4(method="POST")

        lable name:
        br
        input.form-control(type="text", name="name")
        br
        button.btn.btn-success Add

